SCALE_CODE=filling_scale_main
SCALE_SERIAL_PORT=/dev/tty.usbserial-0001
SCALE_BAUD_RATE=9600
SCALE_DATA_BITS=8
SCALE_STOP_BITS=2
SCALE_PARITY=none
SCALE_SLAVE_ID=1
SCALE_POLL_MS=200
SCALE_TIMEOUT_MS=1500
SCALE_OPEN_SETTLE_MS=800
SCALE_REQUEST_GAP_MS=100
SCALE_REQUEST_RETRIES=1
SCALE_HEARTBEAT_MS=2000
SCALE_TARGET_WRITE_POLL_MS=1000
SCALE_CONFIG_REFRESH_MS=60000

CRM_SPACE_ID=env-xxxxxxxxxxxxxxxx
CRM_ENDPOINT=
CRM_CLIENT_SECRET=
CRM_ACCESS_KEY=
CRM_SECRET_KEY=
CRM_SPACE_APP_ID=

GATEWAY_USERNAME=
GATEWAY_PASSWORD=
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=
